In [46]:
import numpy as np
import pandas as pd

In [ ]:
# donwload database from github
!npx degit wfsilva-uea/coari/coari_db.csv coari_db.csv -f

npx: installed 1 in 1.064s
> cloned wfsilva-uea/coari#master to coari_db.csv

# Criação do Banco

In [53]:
# csv structure
names = [
  'Entrevistador', 
  'Idade', 
  'Faixa', 
  'Genero', 
  'Renda', 
  'Bairro', 
  'Quest. 5', 
  'Quest. 6', 
  'Quest. 7', 
  'Quest. 8', 
  'Quest. 9', 
  'Quest. 10', 
  'Quest. 11', 
  'Quest. 12', 
  'Quest. 13', 
  'Quest. 14', 
  'Quest. 15', 
  'Quest. 16', 
  'Quest. 17', 
  'Quest. 18', 
  'Quest. 19', 
  'Quest. 20', 
  'Quest. 21', 
  'Quest. 22'
]

converters = {
  'Idade': lambda v: None if v.strip() == '' else int(v),
  'Renda': lambda v: None if v.strip() == '' else float(v),
}

In [54]:
# read coari data base
df = pd.read_csv('coari_db.csv', names=names, converters=converters, na_filter=False, header=0)
df

    Entrevistador  Idade    Faixa  ... Quest. 20          Quest. 21       Quest. 22
0         Wanessa     42  40 a 49  ...         e         Nada mudou  infraestrutura
1         Wanessa     48  40 a 49  ...         c       Asfaltamento     Nada piorou
2         Wanessa     22  22 a 24  ...         d  Pagamento em dias       Segurança
3         Wanessa     19  18 a 21  ...         e  Pagamento em dias           Saúde
4         Wanessa     34  30 a 39  ...         e         Nada mudou      desemprego
..            ...    ...      ...  ...       ...                ...             ...
456       Gabriel     16  16 e 17  ...         d         Nada mudou  infraestrutura
457       Gabriel     37  30 a 39  ...         f              Obras     Nada piorou
458       Gabriel     30  30 a 39  ...                   Nada mudou     Nada piorou
459       Gabriel     32  30 a 39  ...         c         Nada mudou       Segurança
460       Gabriel     54  50 a 59  ...         b         Nada mudou  infraestrutura

[461 rows x 24 columns]

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Entrevistador  461 non-null    object
 1   Idade          461 non-null    int64
 2   Faixa          461 non-null    object
 3   Genero         461 non-null    object
 4   Renda          415 non-null    float64
 5   Bairro         461 non-null    object
 6   Quest. 5       461 non-null    object
 7   Quest. 6       461 non-null    object
 8   Quest. 7       461 non-null    object
 9   Quest. 8       461 non-null    object
 10  Quest. 9       461 non-null    object
 11  Quest. 10      461 non-null    object
 12  Quest. 11      461 non-null    object
 13  Quest. 12      461 non-null    object
 14  Quest. 13      461 non-null    object
 15  Quest. 14      461 non-null    object
 16  Quest. 15      461 non-null    object
 17  Quest. 16      461 non-null    object
 18  Quest. 17      461 non-null    object
 19  Quest. 18      461 non-null    object
 20  Quest. 19      461 non-null    object
 21  Quest. 20      461 non-null    object
 22  Quest. 21      461 non-null    object
 23  Quest. 22      461 non-null    object
dtypes: float64(1), int64(1), object(22)
memory usage: 86.6+ KB

# Filtragem do Banco

In [ ]:
nova_data = df[['Idade','Faixa','Bairro','Genero','Quest. 8','Quest. 15']].copy()

# Correções de Label
nova_data.columns = ['Idade','Faixa','Bairro','Genero','Prioridade','Intencao']


# Correções de ABCDEFGH para candidato
nova_data["Intencao"].replace({"a": "Adail", "b": "Mitouso", "c":"Magalhaes", "d":"Iran", "e":"Raiso", "e":"Nulo", "George (Conselho tutelar)":"C.T."}, inplace=True)
# nova_data.info()

# tabela cruzada Prioridade em Coari x Intenção de Voto
tab03=pd.crosstab(nova_data["Prioridade"],nova_data["Intencao"],margins=True)
tab03